apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway-config
  namespace: apps
  labels:
    app: gateway
data:
  SERVICE_NAME: gateway
  SERVICE_ENV: k8s
  ASPNETCORE_ENVIRONMENT: Development
  OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector.observability.svc.cluster.local:4317
  ASPNETCORE_URLS: http://0.0.0.0:8080
  Jwt__Authority: https://auth.local
  Jwt__Audience: ecommerce-api
  Jwt__Issuer: https://auth.local
  Jwt__RequireHttpsMetadata: "false"
---
apiVersion: v1
kind: Secret
metadata:
  name: gateway-secrets
  namespace: apps
  labels:
    app: gateway
stringData:
  PLACEHOLDER_SECRET: local-dev-only
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: apps
  labels:
    app: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: localhost:5000/ecommerce-gateway:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: gateway-config
            - secretRef:
                name: gateway-secrets
          livenessProbe:
            httpGet:
              path: /health/live
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: apps
  labels:
    app: gateway
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    app: gateway
