apiVersion: v1
kind: ConfigMap
metadata:
  name: inventory-config
  namespace: apps
  labels:
    app: inventory
data:
  SERVICE_NAME: inventory
  SERVICE_ENV: k8s
  OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector.observability.svc.cluster.local:4317
  ASPNETCORE_URLS: http://0.0.0.0:8080
  POSTGRES_CONNECTION_STRING: Host=postgres.platform.svc.cluster.local;Port=5432;Username=ecommerce;Password=ecommerce;Database=inventory
  KAFKA_BOOTSTRAP_SERVERS: kafka.platform.svc.cluster.local:9092
  KAFKA_INVENTORY_TOPIC: inventory.events
  KAFKA_ORDERS_TOPIC: orders.events
  KAFKA_GROUP_ID: inventory-saga
  INVENTORY_DEFAULT_PRODUCT_ID: default
  INVENTORY_DEFAULT_STOCK: "100"
  INVENTORY_DEFAULT_RESERVATION_QTY: "1"
---
apiVersion: v1
kind: Secret
metadata:
  name: inventory-secrets
  namespace: apps
  labels:
    app: inventory
stringData:
  PLACEHOLDER_SECRET: local-dev-only
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory
  namespace: apps
  labels:
    app: inventory
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
    spec:
      containers:
        - name: inventory
          image: localhost:5000/ecommerce-inventory:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: inventory-config
            - secretRef:
                name: inventory-secrets
          livenessProbe:
            httpGet:
              path: /health/live
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: inventory
  namespace: apps
  labels:
    app: inventory
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    app: inventory
