apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-rabbitmq
  namespace: argocd
spec:
  project: platform
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: rabbitmq
    targetRevision: 14.6.6
    helm:
      releaseName: rabbitmq
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: platform
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
