apiVersion: v1
kind: ConfigMap
metadata:
  name: cart-config
  namespace: apps
  labels:
    app: cart
data:
  SERVICE_NAME: cart
  SERVICE_ENV: k8s
  OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector.observability.svc.cluster.local:4317
  ASPNETCORE_URLS: http://0.0.0.0:8080
---
apiVersion: v1
kind: Secret
metadata:
  name: cart-secrets
  namespace: apps
  labels:
    app: cart
stringData:
  PLACEHOLDER_SECRET: local-dev-only
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart
  namespace: apps
  labels:
    app: cart
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cart
  template:
    metadata:
      labels:
        app: cart
    spec:
      containers:
        - name: cart
          image: localhost:5000/ecommerce-cart:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: cart-config
            - secretRef:
                name: cart-secrets
          livenessProbe:
            httpGet:
              path: /health/live
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: cart
  namespace: apps
  labels:
    app: cart
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    app: cart
