apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-otel-collector
  namespace: argocd
spec:
  project: platform
  source:
    repoURL: https://open-telemetry.github.io/opentelemetry-helm-charts
    chart: opentelemetry-collector
    targetRevision: 0.94.1
    helm:
      releaseName: otel-collector
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
