apiVersion: v1
kind: ConfigMap
metadata:
  name: catalog-config
  namespace: apps
  labels:
    app: catalog
data:
  SERVICE_NAME: catalog
  SERVICE_ENV: k8s
  OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector.observability.svc.cluster.local:4317
  MONGO_DATABASE: catalog
  KAFKA_BOOTSTRAP_SERVERS: kafka.platform.svc.cluster.local:9092
  KAFKA_TOPIC: catalog.product-upserted
---
apiVersion: v1
kind: Secret
metadata:
  name: catalog-secrets
  namespace: apps
  labels:
    app: catalog
stringData:
  MONGO_CONNECTION_STRING: mongodb://ecommerce:ecommerce@mongodb.platform.svc.cluster.local:27017/catalog?authSource=admin
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog
  namespace: apps
  labels:
    app: catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog
  template:
    metadata:
      labels:
        app: catalog
    spec:
      containers:
        - name: catalog
          image: localhost:5000/ecommerce-catalog:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: catalog-config
            - secretRef:
                name: catalog-secrets
          livenessProbe:
            httpGet:
              path: /health/live
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: catalog
  namespace: apps
  labels:
    app: catalog
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    app: catalog
