apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-jaeger
  namespace: argocd
spec:
  project: platform
  source:
    repoURL: https://jaegertracing.github.io/helm-charts
    chart: jaeger
    targetRevision: 0.71.0
    helm:
      releaseName: jaeger
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
