auth:
  username: ecommerce
  password: ecommerce
  database: ecommerce
primary:
  persistence:
    enabled: true
    size: 5Gi
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 1Gi
